.corpus_section_form_fieldset-a_container_inp-lab-container {
    width: 30%;
    @include flex($dir: column, $wrap: nowrap, $jus: center, $lig: center);
    background-color: $grayC;
    border: solid 1px $grayA;
    @media only screen and (max-width: 220mm) {
        width: 100%;
        margin: 1rem;
    }
    label {
        color: white;
        font-weight: bold;
        text-align: left;
        align-self: flex-start;
        padding: 0.1rem 0 0.1rem 0.2rem;
    }
    input,
    textarea {
        height: 1.3rem;
        padding: 0.1rem;
        width: 100%;
        background-color: $grayA;
        border: none;
        color: white;
    }
}

.corpus_section_form_fields_fieldset-b.a {
    .corpus_section_form_fields_fieldset-b_container {
        width: 100%;
        @include flex($dir: column, $wrap: nowrap, $jus: space-around, $lig: flex-start);
        .corpus_section_form_fields_fieldset-b_container_radio-lab-container {
            margin: 0.2rem 0;
            width: 100%;
            height: 6rem;
            background-color: $grayA;
            @include flex($dir: row, $wrap: nowrap, $jus: flex-start, $lig: center);
            &:hover {
                background-color: $grayC;
            }
            label {
                order: 2;
                color: white;
                font-weight: bold;
                font-family: sans-serif;
                text-transform: uppercase;
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
            }
            input {
                order: 1;
            }
        }
    }
}

.corpus_section_form_fields_fieldset-b.a {
    .corpus_section_form_fields_fieldset-b_container {
        width: 100%;
        @include flex($dir: column, $wrap: nowrap, $jus: space-around, $lig: flex-start);
        .corpus_section_form_fields_fieldset-b_container_select-container {
            margin: 0.2rem 0;
            width: 100%;
            @include flex($dir: row, $wrap: nowrap, $jus: flex-start, $lig: center);
            height: 6rem;
            background-color: $grayA;
            .corpus_section_form_fields_fieldset-b_container_select-container_select-list {
                width: 50%;
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
                select {
                    width: 200%;
                    height: 100%;
                    margin: 0 -200% 0 0;
                    padding: 0;
                    border: none;
                    @include flex($dir: column, $wrap: nowrap, $jus: space-around, $lig: flex-start);
                    option {
                        height: 33.33%;
                        color: white;
                        background-color: $grayA;
                        border: solid 4px $grayB;
                        border-right: none;
                        border-collapse: collapse;
                        @include flex($dir: row, $wrap: nowrap, $jus: flex-start, $lig: center);
                        &:hover {
                            background-color: $grayC;
                        }
                    }
                }
            }
            .corpus_section_form_fields_fieldset-b_container_select-container_img-part-container {
                width: 50%;
                height: 100%;
                margin: 0;
                padding: 0;
                @include flex($dir: column, $wrap: nowrap, $jus: space-between, $lig: center);
                div.corpus_section_form_fields_fieldset-b_container_select-container_img-part-container_opt {
                    width: 100%;
                    height: 33.33%;
                    border: solid 4px $grayB;
                    border-collapse: collapse;
                    border-left: none;
                    @include flex($dir: row, $wrap: nowrap, $jus: flex-start, $lig: center);
                    .corpus_section_form_fields_fieldset-b_container_select-container_img-part-container_opt_img-positioner {
                        height: 100%;
                        &:nth-of-type(1){
                            margin: 0 5%;
                        }
                        img {
                            border: solid 1px white;
                            border-radius: 999px;
                            height: 100%;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}