div {
    border: solid 2px black;
    span {
        border: solid 2px black;
        div {
            border: solid 2px black;
        }
    }
}

span {
    border: solid 2px black;
    div {
        border: solid 2px black;
    }
}